@import "tailwindcss";

/* index.css yoki App.css */
.ProseMirror {
  min-height: 300px;
  padding: 0.5rem;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #94a3b8;
  pointer-events: none;
  height: 0;
}
